.jumbotron {
  padding: 0.8rem;
  background-color: rgb(0, 104, 142);
}

.btn-logout {
  background-color: #ff5d0f;
  border-color: #da4d08;
}

.btn-logout:active {
  background-color: #ff5d0f !important;
  border-color: ##da4d08 !important;
  box-shadow: 0 0 0 0.1rem rgba(3, 103, 142, 0.5) !important;
}

.btn-logout:focus {
  box-shadow: 0 0 0 0.1rem rgba(3, 103, 142, 0.5);
}

.btn-logout:hover {
  background-color: rgb(220, 78, 9);
  border-color: #da4d08;
}
